<!-- wp:template-part {"slug":"header","theme":"elegance","tagName":"header","className":"site-header"} /-->

<!-- wp:spacer {"height":"var:preset|spacing|60"} -->
<div
  style="height: var(--wp--preset--spacing--60)"
  aria-hidden="true"
  class="wp-block-spacer"
></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
  <!-- wp:columns {"style":{"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40"}}}} -->
  <div
    class="wp-block-columns"
    style="
      padding-right: var(--wp--preset--spacing--40);
      padding-left: var(--wp--preset--spacing--40);
    "
  >
    <!-- wp:column {"width":"66.66%","style":{"spacing":{"padding":{"right":"var:preset|spacing|40"}}}} -->
    <div
      class="wp-block-column"
      style="padding-right: var(--wp--preset--spacing--40); flex-basis: 66.66%"
    >
      <!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
      <main
        class="wp-block-group"
        style="padding-top: 0; padding-bottom: var(--wp--preset--spacing--50)"
      >
        <!-- wp:query-title {"type":"search","style":{"elements":{"link":{"color":{"text":"var:preset|color|blackish"}}},"spacing":{"padding":{"bottom":"var:preset|spacing|20"}}},"textColor":"blackish","fontSize":"regular"} /-->

        <!-- wp:query {"queryId":30,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"layout":{"type":"constrained"}} -->
        <div class="wp-block-query">
          <!-- wp:post-template {"style":{"spacing":{"blockGap":"0"}}} -->
          <!-- wp:post-title {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|orange"},":hover":{"color":{"text":"var:preset|color|blackish"}}}},"spacing":{"padding":{"bottom":"var:preset|spacing|20"}}}} /-->

          <!-- wp:post-featured-image {"isLink":true,"aspectRatio":"16/9"} /-->

          <!-- wp:block {"ref":845} /-->

          <!-- wp:post-excerpt {"moreText":"Read more","style":{"elements":{"link":{"color":{"text":"var:preset|color|orange"},":hover":{"color":{"text":"var:preset|color|blackish"}}}},"spacing":{"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|60"}}}} /-->
          <!-- /wp:post-template -->

          <!-- wp:query-no-results -->
          <!-- wp:paragraph -->
          <p>No results found.</p>
          <!-- /wp:paragraph -->
          <!-- /wp:query-no-results -->

          <!-- wp:query-pagination {"paginationArrow":"chevron","style":{"elements":{"link":{"color":{"text":"var:preset|color|orange"},":hover":{"color":{"text":"var:preset|color|blackish"}}}}},"layout":{"type":"flex","justifyContent":"space-between"}} -->
          <!-- wp:query-pagination-previous /-->

          <!-- wp:query-pagination-next /-->
          <!-- /wp:query-pagination -->
        </div>
        <!-- /wp:query -->
      </main>
      <!-- /wp:group -->
    </div>
    <!-- /wp:column -->

    <!-- wp:column {"width":"33.33%","style":{"spacing":{"padding":{"left":"var:preset|spacing|40"}}}} -->
    <div
      class="wp-block-column"
      style="padding-left: var(--wp--preset--spacing--40); flex-basis: 33.33%"
    >
      <!-- wp:template-part {"slug":"sidebar","theme":"elegance","area":"uncategorized"} /-->
    </div>
    <!-- /wp:column -->
  </div>
  <!-- /wp:columns -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"elegance","tagName":"footer","className":"site-footer"} /-->
